<!DOCTYPE html>
	<head>
		<meta charset="utf-8">
		<meta charset="UTF-8"  />
        <meta name="author"content="hc" />
        <meta name ="keywords"content="HTML5,网页"/>
        <meta name="description"content="这是一个网页模板" />
		<link rel="stylesheet" href="static/css.css">
		<script src="js/js.js"></script>
	</head>
<style type="text/css">
	<style type="text/css">

    </style>
</style>
	<body>
		<!--这是导航栏-->
		<nav class="" >
			<div class="">
				<table	class="nav" cellpadding="0px" cellspacing="0px">
					<tr>
						<td><a href="#">LOGO</a></td>
						<td><a href="#"></a></td>
						<td style="background-color:rgba(280,190,0,0.8);">

					</tr>
				</table>
			</div>
		</nav>

		<article id="article">
			    <nav>
        <ul>
            <li>分词demo</li>
            <li>词性标注</li>
            <li>实体识别</li>
            <li>文本分析</li>
            <li>相似计算</li>
        </ul>
    </nav>

		</article>
		<div class="hr_footer" ></div>
		<footer style="background:url('image/bottom.png')">
			© VALSE 2016 All rights reserved.
		</footer>
		<top id="top">

		</top>
	</body>
</html>

